
.cartlist .offcanvas-header .btn-close {
    font-size: 14px;
    color: black !important;
    opacity: 1;
}
.cartlist .offcanvas-header {
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding: 10px 15px;
}
.cartlist .offcanvas-footer{
    /* padding: 8px 15px 0px; */
    padding: 0px;
    text-align: center;
    -webkit-box-shadow: 0px -3px 7px 0px rgb(0 0 0 / 8%);
    box-shadow: 0px -3px 7px 0px rgb(0 0 0 / 8%);
}
.cart-checkout-btn {
    width: 100%;
    padding: 7px 0px;
    border-radius: 0px;
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.checkout-label {
    width: auto;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.3px;
    padding-right: 30px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}
.checkout-price {
    padding: 0px 0 0 25px;
    letter-spacing: 0.3px;
    color: white;
    border-left: 1px solid lightgray;
}
.cart-list {
    height: 100%;
    padding: 0px 8px 0 0;
    max-height: calc(100vh - 124px);
    overflow-y: scroll;
}
.cart-item {
    padding: 2px 0px 5px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-bottom: 1px solid lightsteelblue;
    margin-bottom: 5px;
}
.cart-item:last-child {
    border-bottom: none;
}
.cart-sidebar-delete {
    right: 0;
    top: 0px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    transition: 0.4s;
    background-color: transparent;
    outline: none;
    border: none;
}
.cart-media {
    position: relative;
    text-align: center;
    margin-right: 15px;
    width: 16%;
    display: inline-block;
}
.cart-media a img {
    width: 55px;
    height: 55px;
    border-radius: 0px;
}
.cart-info-group {
    width: 80%;
    display: inline-block;
}
.cart-info p{
    font-size: 14px;
}
.cart-info h6 {
    line-height: initial;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}
.cart-info h6 a{
    color: #ec138d;
}
.cart-action-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.cart-action-group h6 {
    font-size: 14px;
    line-height: initial;
}


/* increament */
.quantity input {
    width: 30px;
    text-align: center;
    outline: none;
    padding: 2px 0 0px 0px;
    border: 1px solid #000;
    font-size: 14px;
    background-color: #ececec;
    height: 23px;
}

.quantity span {
    border: 1px solid #000;
    padding: 5px 7px;
    margin-right: -6px;
    color: #000;
    font-size: 11px;
    line-height: 0;
    display: inline-block;
}

.quantity_plus span {
    margin-left: -6px;
}
.product_info .quantity span {
    padding: 17px 9px;
}
.product_info .quantity input {
    height: 47px;
}
.related_product .quantity span {
    padding: 8px 7px;
}
.related_product .quantity input {
    height: 29px;
}
