
.price-slider {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    height: 3em;
}
.price-slider svg,
.price-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
}
input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1em;
    -moz-appearance: textfield;
}

input[type=number]:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #334155;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number]:invalid,
input[type=number]:out-of-range {
    border: 2px solid var(--pink);
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--pink);
}
input[type=range]:focus::-ms-fill-lower {
    background: var(--pink);
}
input[type=range]:focus::-ms-fill-upper {
    background: var(--pink);
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--pink);
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 5px solid var(--pink);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--pink);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--pink);
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid var(--pink);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    background: var(--pink);
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid var(--pink);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
}

